
<div class="center jumbotron">
  <h1>Welcome to Eckelmeyer.com</h1>
  <h2>This is the home page for Keith Eckelmeyer's Ruby on Rails applications.</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div>
  <small>
    Wait? Eckelmeyer.com? The address bar says "eckelmeyer.herokuapp.com"! See the <%= link_to "About", about_path %> page.
  </small>
</div>
<h1>
  <%= link_to image_tag("rails-logo.svg", size: "150", alt: "Rails logo") , 'http://rubyonrails.org/'%>
</h1>